@page
@{
    ViewData["Title"] = "Solid Ground Admin";
}

@section Styles {
    <link rel="stylesheet" href="~/css/admin/calendar.css" asp-append-version="true" />
}

<div class='my-3 col-12 d-flex justify-content-center fade-in'>
    <div id="calendar" class="bg-white text-purple rounded col-11 d-flex flex-column align-items-center">
        <div id="calendar-header" class='col-12 d-flex align-items-center'>
            <div>
                <button id="prev" class="monthNavBtn mx-1 py-0 custom-btn">&#8592;</button>
                <button id="next" class="monthNavBtn mx-1 py-0 custom-btn">&#8594;</button>
            </div>
            <h1 id="month" class="fw-light ms-2"></h1>
        </div>
        <div id="calendar-body" class='col-12'>
            <div id="calendar-weekdays" class="d-flex justify-content-between col-12 ">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            <div id="calendar-dates" class="d-flex flex-column col-12"></div>
        </div>
        <div id="modal-btns" class="col-12 mt-3 d-flex align-items-center justify-content-evenly">
            <button id="newApptBtn" class="custom-btn fs-4 my-2 col-md-4 col-xl-3 col-xxl-2 col-12"
                data-bs-toggle="modal" data-bs-target="#newApptsModal">Add to Schedule</button>
            <button id="servicesBtn" class="custom-btn fs-4 my-2 col-md-4 col-xl-3 col-xxl-2 col-12"
                data-bs-toggle="modal" data-bs-target="#servicesModal">Services</button>
        </div>
    </div>

    @await Html.PartialAsync("~/Views/Admin/Shared/_CalendarModal.cshtml")
    @await Html.PartialAsync("~/Views/Admin/Shared/_NewApptsModal.cshtml")
    @await Html.PartialAsync("~/Views/Admin/Shared/_ServicesModal.cshtml")

</div>

@section Scripts {
    <script type="module" src="~/js/admin/calendar.js"></script>
    <script type="module" src="~/js/admin/calendarModal.js"></script>
    <script type="module" src="~/js/admin/newApptsModal.js"></script>
    <script type="module" src="~/js/admin/servicesModal.js"></script>
}