@page
@{
    ViewData["Title"] = "Solid Ground Admin";
}

<div id='clients' class="py-2 text-light d-flex flex-column align-items-center">
    <input id='search' type="search" class="input fs-5" placeholder="Search" />
</div>

@await Html.PartialAsync("~/Views/Admin/Shared/_CalendarModal.cshtml")

@section Scripts {
    <script type="module" src="~/js/admin/clients.js"></script>
    <script type="module" src="~/js/admin/calendarModal.js"></script>
}