<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="~/assets/flower.svg" />
    <link rel="apple-touch-icon" href="~/assets/flower.png">
    <link rel="apple-touch-startup-image" href="~/assets/flower.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/root.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/client/root.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
        asp-append-version="true">

    @RenderSection("Styles", required: false)

    <meta name="apple-mobile-web-app-title" content="Solid Ground">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>

<body class="body col-12 m-0 p-0 fw-light d-flex flex-column align-items-center">
    <header class="col-12 bg-white d-flex flex-wrap align-items-center my-1">
        <div id="logo" class="logo d-flex align-items-center col-xxl-4 col-xl-5 col-md-6 col-8">
            <img src="./assets/flower.svg" alt="flower-logo">
            <div class="d-flex flex-column align-items-center">
                <h1 class="m-0 p-0 text-purple text-center libre fw-bold">SOLID GROUND</h1>
                <div class="d-flex align-items-center justify-content-center col-12">
                    <div class='line'></div>
                    <h3 class="m-0 p-0 fw-light text-purple text-center">MOVEMENT RESTORED</h3>
                    <div class='line'></div>
                </div>
            </div>
        </div>
        <nav class="d-flex justify-content-evenly align-items-center navbar col-md-6 my-0 py-0"></nav>
    </header>

    <main role="main" class="col-12" id='content'>
        @RenderBody()
    </main>

    <footer class="col-12 bg-white p-3 my-1 d-flex justify-content-between align-items-center">
        <div class="logo d-flex align-items-center col-md-6 col-12">
            <img src="./assets/flower.svg" alt="flower-logo">
            <div class="d-flex flex-column align-items-center mx-3">
                <h1 class="m-0 p-0 text-purple text-center libre fw-bold">SOLID GROUND</h1>
                <div class="d-flex align-items-center justify-content-center col-12">
                    <div class='line'></div>
                    <h3 class="m-0 p-0 fw-light text-purple text-center fs-5">MOVEMENT RESTORED</h3>
                    <div class='line'></div>
                </div>
            </div>
        </div>
        <div id="footer-info"
            class="col-md-6 col-lg-4 col-12 d-flex flex-wrap justify-content-between align-items-center">
            <div class="my-3 d-flex flex-column justify-content-evenly align-items-start">
                <p class="text-center m-0">nicole.solidgroundaz@gmail.com</p>
                <p class="text-center m-0 footer-link" data-bs-toggle="modal" data-bs-target="#footerModal">Terms and
                    Privacy</p>
                <a class="footer-link" href="https://www.timelesscapturephotography.com/">Photos by Gabe Olsen</a>
            </div>
        </div>
    </footer>

    <div class="modal fade" id="footerModal" tabindex="-1" aria-labelledby="footerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="footerModalLabel">Terms and Privacy</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h2>Privacy Notice</h2>
                    <p>At <strong>Solid Ground AZ</strong>, we value your privacy and are committed to protecting
                        your personal information. This notice explains how we handle your data when you book a private
                        session through our scheduling platform.</p>

                    <h3>1. Information We Collect</h3>
                    <ul>
                        <li><strong>Email Address</strong>: Collected for communication regarding your appointment.</li>
                        <li><strong>Phone Number</strong>: Collected for appointment coordination and confirmation.</li>
                    </ul>

                    <h3>2. Use of Your Information</h3>
                    <p>Your email address and phone number will only be used to communicate with you regarding your
                        scheduled private session. We do not store this information long-term, and we do not sell or
                        share your data with any third parties.</p>

                    <h3>3. Data Protection and Retention</h3>
                    <p>Your personal information is encrypted during transmission and while stored on our systems to
                        ensure its security. Once payment for your private session has been recorded and there is no
                        future appointment scheduled using your email,
                        your email and phone number will be <strong>deleted</strong> from our systems. We do not
                        retain your personal
                        data for any other purposes beyond the completion of your session and its associated payment.
                    </p>

                    <h3>4. Your Privacy Rights</h3>
                    <p>You have the right to request the deletion of your data at any time prior to the automatic
                        deletion upon payment. If you have any concerns or questions about how your data is handled,
                        please contact us at <a
                            href="mailto:nicole.solidgroundaz@gmail.com">nicole.solidgroundaz@gmail.com</a>.</p>

                    <p>By using our scheduling services, you agree to the terms outlined in this privacy notice.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="~/lib/node-calendar/node-calendar.js"></script>
    <script type="module" src="~/js/client/root.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>