<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="" href="" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="~/css/root.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/book.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>

<body class="body col-12 m-0 p-0 fw-light d-flex flex-column align-items-center">
    <header class="col-12 bg-white d-flex flex-wrap justify-content-center align-items-center">
        <div id="logo" class="d-flex align-items-center col-md-4 col-12 my-1">
            <img src="./assets/flower.svg" alt="flower-logo">
            <div class="d-flex flex-column align-items-center mx-3">
                <h1 class="m-0 p-0 text-purple text-center libre fw-bold">SOLID GROUND</h1>
                <div class="d-flex align-items-center justify-content-center col-12">
                    <div class='line'></div>
                    <h3 class="m-0 p-0 fw-light text-purple text-center fs-5">MOVEMENT RESTORED</h3>
                    <div class='line'></div>
                </div>
            </div>
        </div>
        <nav class="navbar col-md-7 d-flex justify-content-evenly align-items-center"></nav>
    </header>

    <main role="main" class="col-12">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="~/js/index.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>