bin/
obj/
*.user
*.suo
*.swp
.DS_Store
**/.git
**/.gitignore
**/.vs
**/node_modules
Properties/PublishProfiles/
wwwroot/**/node_modules
*.pubxml*
*.pubxml.user
.vscode/
local.env
appsettings*.Development.json
appsettings.Development.json
appsettings.Local.json
*.log


