@page
@{
    ViewData["Title"] = "About";
}

<div id="about-me" class="pt-3 bg-lav col-12 d-flex flex-column justify-content-center align-items-center">
    <h2 class="text-center libre pb-5">MEET NICOLE</h2>
    <div class="pb-5 px-5">
        <img id="portrait" class="float-end" src="~/assets/portrait.jpg" alt="nicole-portrait">
        <p class="fs-3">
            I got my start in the fitness industry after some study in exercise science and becoming a fitness
            instructor in 2013.
            I taught a variety of classes, such as water aerobics, spin, bootcamp, and yoga. In 2015, I was in a car
            accident
            and in the coming months I began to notice a change in my body.
            High intensity workouts and repetitive exercises brought on intense headaches that became migraines.
            I began to experience new anxieties and overall tension in my body. I was no longer able to jump into a
            workout like I could.
            Often with change comes resistance, I did not accept my new normal and felt immense stress about my
            overall wellness.
            My emotional griping and straining only amplified the message my body was trying to send me.
            Sometimes that is the process until someone or something helps you step onto your new path forward.
            It took time, lots of adjustment and I am still on the path to understanding what wellness means in my
            own body.
            I have spent the last 5 years learning and training in movement modalities and practices that help
            educate, support, and empower individuals.
            You too can jump in and learn some tools maybe try something different. I look forward to working
            together!
        </p>
    </div>
</div>