@page
@{
    ViewData["Title"] = "About";
}

@section Styles {
    <link rel="stylesheet" href="~/css/client/about.css" asp-append-version="true" />
}

<div id="about-me" class="py-4 fade-in bg-lav col-12 d-flex flex-column justify-content-center align-items-center">
    <h2 class="text-center libre">MEET NICOLE</h2>
    <div class="col-12 d-flex flex-column align-items-center">
        <img id="portrait" class="py-3" src="~/assets/about-portrait.jpg" alt="nicole-portrait">
        <p class="fs-4 px-4 league">
            A little more about me... I am a Mesa native, a wife, and a mother of three. Of course, yoga is a favorite
            pastime of mine. I love warm, soul-to-soul talks and sharing experiences. I became a fitness instructor in
            2013 and have enjoyed working at a variety of gyms over the years. In recent years, I’ve focused my teaching
            energy on melding physical training and release work. I now offer classes and personal instruction in your
            home or mine. You can also find me teaching and working out at AMP Fitness in Mesa.
        </p>
    </div>
</div>