@page
@{
    ViewData["Title"] = "About";
}

@section Styles {
    <link rel="stylesheet" href="~/css/client/about.css" asp-append-version="true" />
}

<div id="about-me" class="bg-lav col-12 d-flex flex-column justify-content-center align-items-center">
    <h2 class="text-center libre py-4">MEET NICOLE</h2>
    <div class="pb-5 px-5">
        <img id="portrait" class="mx-5 float-end" src="~/assets/about-portrait.jpg" alt="nicole-portrait">
        <p class="fs-4 mx-5">
            I kicked off into the fitness industry as a group instructor in 2013. I taught a variety of classes such
            as water aerobics, spin, bootcamp, and yoga. In 2015, I was in a car accident and additionally diagnosed
            with pelvic floor prolapse. In the coming months I began to notice a change in my body. High intensity
            workouts and repetitive exercises brought on migraines and running worsened prolapse. I began to experience
            new anxieties and overall tension in my body. I was no longer able to do what I could before. Often the
            human response to change is resistance; I did not accept my new normal and felt immense stress. My emotional
            gripping and straining only amplified the message my body was trying to send: something isn’t working.
            Through the education of movement professionals, I learned grounding principles and was able to clear a
            path forward to trust my body. A change in trajectory might be someone or something. It can take time and
            lots of adjustment to discover what wellness means in our own bodies. I have spent the last 5 years learning
            and training in movement modalities and practices that help educate, support, and empower individuals. I
            hope my
            offered tools will give you support you need to stay steady on your path. I look forward
            to working together!
        </p>
    </div>
</div>