@page
@model IndexModel
@{
    ViewData["Title"] = "Nicole Olsen - Home";
}

<div class="fade-in overflow-x-hidden marble-bg d-flex flex-wrap justify-content-center align-items-center">
    <img id="main-page-nicole" src="~/assets/main-page-nicole.jpg" alt="group yoga">
    <img id="transition-img" class="col-12" src="~/assets/transition.png" alt="transition">
    <div id="welcome" class="bg-lav col-12 d-flex flex-column align-items-center pt-3">
        <div class="d-flex flex-column align-items-center col-xl-8 col-lg-9 col-10">
            <h1 class="libre">Welcome</h1>
            <p class="fs-5 league">Welcome to Solid Ground! Unlike traditional fitness based programs that emphasize
                intense
                physical exertion, I invite you to make incremental changes
                that help you connect with you whole self.
                My approach is designed to help you achieve long-term results while embracing your unique journey
                towards
                self-love and acceptance.
            </p>
        </div>
    </div>
    <div id="private-sessions" class="col-12 pb-3">
        <h2 class="text-purple text-center libre fw-bold my-5">BOOK A PRIVATE SESSION</h2>
        <div id="services" class="my-2 d-flex flex-wrap justify-content-evenly"></div>
    </div>
    <div id='overlay'></div>
    <div id="meet-container" class="bg-lav d-flex justify-content-evenly align-items-center py-5 px-3 col-12">
        <div id="meet-nicole" class="py-3 d-flex flex-column align-items-center justify-content-center col-xl-5 col-10">
            <h2 class="text-center libre">MEET NICOLE</h2>
            <p class="rounded fs-5">
                Sure the top photo shows me doing a fun yoga pose (but shh… that’s not what I’m about here)
                I got my start in the fitness industry after some study in exercise science and becoming a fitness
                instructor in 2013.
                I taught a variety of classes, such as water aerobics, spin, bootcamp, and yoga. In 2015, I was in a car
                accident
                and in the coming months I began to notice a change in my body.
                High intensity workouts and repetitive exercises brought on intense headaches that became migraines.
                I began to experience new anxieties and overall tension in my body. I was no longer able to jump into a
                workout like I could.
                Often with change comes resistance, I did not accept my new normal and felt immense stress about my
                overall wellness.
                My emotional griping and straining only amplified the message my body was trying to send me.
                Sometimes that is the process until someone or something helps you step onto your new path forward.
                It took time, lots of adjustment and I am still on the path to understanding what wellness means in my
                own body.
                I have spent the last 5 years learning and training in movement modalities and practices that help
                educate, support, and empower individuals.
                You too can jump in and learn some tools maybe try something different. I look forward to working
                together!
            </p>
        </div>
        <img id="portrait" src="~/assets/portrait.jpg" alt="nicole-portrait">
    </div>
    <div id="move-mods" class="bg-white d-flex flex-column align-items-center">
        <h2 class="my-3 fw-light text-center libre">THE MOVEMENT MODALITIES</h2>
        <div class="col-12 d-flex flex-column">
            <div class="bg-lav odd-mod col-12 d-flex justify-content-evenly align-items-center">
                <img src="./assets/LYTLogo.png" alt="LYT Yoga logo">
                <p class="fs-5 col-8">
                    LYT Yoga is a practice with influence from the physical therapy world. It places importance on
                    functional movement and brain-body connection. The specific formula helps to reinforce both.
                </p>
            </div>
            <div class="col-12 even-mod d-flex justify-content-evenly align-items-center">
                <p class="fs-5 col-8">
                    Roll Model Method is a technique which uses Yoga Tune Up therapy balls which come in various sizes.
                    This is self massage or myofascial release. The fascia (connective tissue) can lose glide and
                    smoothness for a variety of reasons such as dehydration or injury. The idea is to incorporate the
                    different rolling methods to improve the movement of tissues which helps overall mechanical
                    wellness.
                </p>
                <img src="./assets/RollModelLogo.png" alt="Roll Model Logo">
            </div>
            <div class="col-12 bg-lav odd-mod d-flex justify-content-evenly align-items-center">
                <img src="./assets/CESLogo.png" alt="Core exercise solutions logo">
                <p class="fs-5 col-8">
                    Certified as a pregnancy and postpartum corrective exercise specialist through Core Exercise
                    Solutions. Serving as a whole body approach to health and fitness for women.
                </p>
            </div>
            <div class="even-mod col-12 d-flex justify-content-evenly align-items-center">
                <p class="fs-5 col-8">
                    Certified in PNF assisted stretch. (Peripheral neuromuscular facilitation) This creates a deeper
                    stretch through a contract and relax pattern.
                </p>
                <img src="./assets/FTPLogo.jpg" alt="FTP logo">
            </div>
            <div class="bg-lav fs-5 col-12 d-flex flex-column align-items-center">
                <p class="col-8 text-center col-md-11">
                    On my calendar you’ll find when and where I teach in the community and find slots to book one-on-one
                    with me for more personal care.
                </p>
                <button id="calendar-link" class="custom-btn fw-light mt-2">Calendar</button>
            </div>
        </div>
    </div>
    <div id="gallery" class="d-flex flex-wrap justify-content-evenly py-3 marble-bg">
        <img class="gallery-img" src="./assets/gallery1.jpg" alt="yoga-gallery1">
        <img class="gallery-img" src="./assets/gallery3.jpg" alt="yoga-gallery3">
        <img class="gallery-img" src="./assets/gallery7.jpg" alt="yoga-gallery7">
        <img class="gallery-img" src="./assets/gallery4.jpg" alt="yoga-gallery4">
        <img class="gallery-img" src="./assets/gallery9.jpg" alt="yoga-gallery9">
        <img class="gallery-img" src="./assets/gallery5.jpg" alt="yoga-gallery5">
        <img class="gallery-img" src="./assets/gallery6.jpg" alt="yoga-gallery6">
        <img class="gallery-img" src="./assets/gallery2.jpg" alt="yoga-gallery2">
        <img class="gallery-img" src="./assets/gallery8.jpg" alt="yoga-gallery8">
    </div>
</div>

@section Scripts {
    <script type="module" src="~/js/index.js"></script>
}
