@page
@{
    ViewData["Title"] = "Nicole Olsen - Home";
}

<div class="fade-in d-flex flex-wrap justify-content-center align-items-center">
    <img id="group-yoga-img" src="~/assets/main-page-nicole.jpg" alt="group yoga">
    <img id="transition-img" class="col-12" src="~/assets/transition.png" alt="transition">
    <div id="welcome" class="text-purple col-12 d-flex flex-column align-items-center pb-5 mb-3">
        <h1 class="text-purple">STAYING GROUNDED</h1>
        <p class="fs-5 col-8">Yoga has always been my sanctuary, a place where I find peace, balance, and a deep
            connection to myself.
            It's my safe space where I can escape the chaos of everyday life and embrace a journey of self-discovery and
            inner calm.
            Helping others transform and grow, finding their own moments of tranquility and strength, brings me
            immense joy and fulfillment.
        </p>
        <p class="fs-5 col-8">Some need one-on-one guidance, while others thrive in a group setting. I offer both
            private and group
            sessions.</p>
        <button class="view-calendar custom-btn fs-4">View Schedule</button>
    </div>
    <div>
        <h2 class="text-white text-center">PRIVATE SESSIONS AVAILABLE TO BOOK</h2>
        <div id="services" class="my-2 d-flex flex-wrap justify-content-evenly"></div>
    </div>
    <div class="d-flex justify-content-evenly bg-white py-3 my-3 col-8 rounded">
        <div class="d-flex flex-column col-5">
            <h2 class="text-center">ABOUT ME</h2>
            <p>
                I am a certified yoga instructor with over 10 years of experience in teaching yoga to students of all
                levels and backgrounds. I specialize in Vinyasa, Hatha, and Restorative yoga, and I am passionate about
                helping others discover the transformative power of yoga in their lives.
            </p>
        </div>
        <img id="portrait" src="~/assets/portrait.jpg" alt="nicole-portrait">
    </div>
</div>

@section Scripts {
    <script type="module" src="~/js/services.js"></script>
}
