@page
@{
    ViewData["Title"] = "Nicole Olsen - Home";
}

<div class="fade-in marble-bg d-flex flex-wrap justify-content-center align-items-center">
    <img id="main-page-nicole" src="~/assets/main-page-nicole.jpg" alt="group yoga">
    <img id="transition-img" class="col-12" src="~/assets/transition.png" alt="transition">
    <div id="welcome" class="bg-lav col-12 d-flex flex-column align-items-center mb-5">
        <div class="d-flex flex-column align-items-center col-8">
            <h1 class="libre">Welcome</h1>
            <p class="fs-5 col-8">Welcome to SolidGround! Unlike traditional fitness based programs that emphasize
                intense
                physical exertion, I invite you to make incremental changes
                that help you connect with you whole self.
                My approach is disigned to help you achieve long-term results while embracing your unique journey
                towards
                self-love and acceptance.
            </p>
            <p class="fs-5 col-8">Thank you for being here! Check out my calendar to find out when and where I teach!
            </p>
            <button class="view-calendar custom-btn fs-4">View Schedule</button>
        </div>
    </div>
    <div class="mt-5">
        <h2 class="text-purple text-center mt-5">PRIVATE SESSIONS AVAILABLE TO BOOK</h2>
        <div id="services" class="my-2 d-flex flex-wrap justify-content-evenly"></div>
    </div>
    <div id='overlay'></div>
    <div class="d-flex justify-content-evenly align-items-center bg-white py-5 mt-5 col-12">
        <div id="meet-nicole" class="d-flex flex-column align-items-center justify-content-center">
            <h2 class="text-center libre">MEET NICOLE</h2>
            <p class="rounded text-center fs-5">
                I am a the cooliest person ever. I am a the cooliest person ever. I am a the cooliest person ever. I am
                a master of the Roll Model® Method and I am here to help you feel better in your body
                I am a the cooliest person ever. I am a the cooliest person ever. I am a the cooliest person ever. I am
                a master of the Roll Model® Method and I am here to help you feel better in your body
            </p>
        </div>
        <img id="portrait" src="~/assets/portrait.jpg" alt="nicole-portrait">
    </div>
    <div id="roll-model" class="bg-lav col-12 py-5 d-flex justify-content-evenly align-items-center">
        <img id="roll-model-img" src="./assets/balls.jpg" alt="yoga-balls">
        <div class="px-5 d-flex flex-column">
            <h2 class="">WHAT IS THE ROLL MODEL® METHOD?</h2>
            <p id="roll-model-p" class="fs-5">
                The Roll Model® is a simple self-treatment method that teaches you to use a variety of grippy, pliable
                rubber balls to eradicate your aches and pains and reform your body from the inside out. It helps you
                identify the areas of your body that are overused, underused, misused, abused, or totally confused and
                brings your awareness to them. The techniques are designed to awaken your body sense and heighten your
                awareness of your own tension, pain, and coordination. The Roll Model® Method uses a combination of
                corrective exercise, breathing strategies, and specialized tools to help you locate, assess, and fix
                your
                body’s blind spots. Improving your body’s sense of itself will help you make better positional choices
                no
                matter what tasks you tackle.
            </p>
            <p id="roll-read-more" class="fs-5">Read More</p>
            <p class="displayRollModel fs-5"> The Roll Model® is a simple self-treatment method that teaches you to use
                a
                variety of grippy, pliable
                rubber balls to eradicate your aches and pains and reform your body from the inside out. It helps you
                identify the areas of your body that are overused, underused, misused, abused, or totally confused and
                brings your awareness to them. The techniques are designed to awaken your body sense and heighten your
                awareness of your own tension, pain, and coordination. The Roll Model® Method uses a combination of
                corrective exercise, breathing strategies, and specialized tools to help you locate, assess, and fix
                your
                body’s blind spots. Improving your body’s sense of itself will help you make better positional choices
                no
                matter what tasks you tackle. <br><br>

                How you stand, sit, walk, and breathe has a ripple effect throughout your entire being. The Roll Model®
                Method gives you the information and tools to put power into your own hands and with this knowledge
                there is
                enormous potential for healing.<br><br>

                Empower yourself to address your needs as they arise. Reduce your pain, irritation, and emotional
                suffering
                in a self-compassionate and long-lasting way. With the therapy balls you can create your own conditions
                for
                renewal and recovery. Reduce stress and treat your emotional and physical well-being in a way that
                restores
                you and resets your body’s ability to function.<br><br>

                The Roll Model® Therapy balls relieve aches and pains, enhance breathing function, increase your
                mobility
                and energy level, reduce stress, and improve your posture and performance, and speeds up your body’s
                ability
                to recover by switching your nervous system into a parasympathetic dominant state.<br><br>

                Adapted from Jill Miller’s book The Roll Model®</p>
            <img class="col-2" id="roll-model-logo" src="./assets/RollModelLogo.png" alt="Roll Model Logo">
        </div>
    </div>
    <div id="gallery">
    </div>
</div>

@section Scripts {
    <script type="module" src="~/js/services.js"></script>
}
