@page
@{
    ViewData["Title"] = "Solid Ground";
}

@section Styles {
    <link rel="stylesheet" href="~/css/client/index.css" asp-append-version="true" />
}

<div class="fade-in overflow-x-hidden marble-bg d-flex flex-wrap justify-content-center align-items-center">
    <img id="main-page-nicole" src="~/assets/main-page-nicole.jpg" alt="group yoga">
    <img id="transition-img" class="col-12" src="~/assets/transition.png" alt="transition">
    <div id="welcome" class="bg-lav col-12 d-flex flex-column align-items-center pt-3">
        <div class="d-flex flex-column align-items-center col-xl-8 col-lg-9 col-10">
            <h1 class="libre">Welcome</h1>
            <p class="fs-5 league">Welcome to Solid Ground! Unlike traditional fitness based programs that emphasize
                intense
                physical exertion, I invite you to make incremental changes
                that help you connect with you whole self.
                My approach is designed to help you achieve long-term results while embracing your unique journey
                towards
                self-love and acceptance.
            </p>
        </div>
    </div>
    <div id="private-sessions" class="col-12 pb-3">
        <h2 class="text-purple text-center libre fw-bold my-5">BOOK A PRIVATE SESSION</h2>
        <div id="services" class="my-2 d-flex flex-wrap justify-content-evenly"></div>
    </div>
    <div id='overlay'></div>
    <div id="meet-container" class="bg-lav d-flex justify-content-evenly align-items-center py-5 px-3 col-12">
        <div id="meet-nicole" class="py-3 d-flex flex-column align-items-center justify-content-center col-xl-5 col-8">
            <h2 class="text-center libre">MEET NICOLE</h2>
            <p class="rounded fs-4">
                Nicole focuses on movement education to support clients in improving their mobility and achieving a
                higher level of physical well-being.
                With her certification in yoga and specialized training, Nicole provides unique services
                that blend release techniques with strength development.
                Nicole is passionate about helping people feel better in their bodies
                and move with more ease.
            </p>
        </div>
        <img id="home-portrait" src="~/assets/portrait.jpg" alt="nicole-portrait">
    </div>
    <div id="move-mods" class="my-5 py-3 bg-white d-flex flex-column align-items-center">
        <div class="col-12 d-flex flex-column">
            <h2 class="my-3 fw-light text-center libre">MOVEMENT MODALITIES</h2>
            <div class="odd-mod col-12 d-flex justify-content-evenly align-items-center">
                <img src="~/assets/LYTLogo.png" alt="LYT Yoga logo">
                <p class="fs-4 col-9">
                    LYT Yoga, developed by physical therapist Lara Heimann, is a groundbreaking approach that combines
                    the mindfulness of yoga with the expertise of physical therapy to deliver a transformative
                    experience.
                </p>
            </div>
            <div class="col-12 even-mod d-flex justify-content-evenly align-items-center">
                <p class="fs-4 col-9">
                    Roll Model Method employs self-myofascial release (self-massage) techniques to enhance mobility,
                    decrease stress, transform pain, and build body awareness.
                </p>
                <img src="~/assets/RollModelLogo.png" alt="Roll Model Logo">
            </div>
        </div>
        <div class="col-12 d-flex flex-column">
            <h2 class="my-3 fw-light text-center libre">CERTIFICATIONS</h2>
            <div class="col-12 odd-mod d-flex justify-content-evenly align-items-center">
                <img src="~/assets/CESLogo.png" alt="Core exercise solutions logo">
                <p class="fs-4 col-9">
                    Certified as a pregnancy and postpartum corrective exercise specialist through Core Exercise
                    Solutions. Serving as a whole body approach to health and fitness for women.
                </p>
            </div>
            <div class="even-mod col-12 d-flex justify-content-evenly align-items-center">
                <p class="fs-4 col-9">
                    Certified in PNF assisted stretch. (Peripheral neuromuscular facilitation) This creates a deeper
                    stretch through a contract and relax pattern.
                </p>
                <img src="~/assets/FTPLogo.png" alt="FTP logo">
            </div>
        </div>
    </div>
    <div class="bg-lav py-3 fs-5 col-12 d-flex flex-column align-items-center">
        <p class="col-10 py-0 my-2 text-center libre">On my calendar you can find when and where I teach in the
            community and book one-on-one
            with me for more personal care</p>
        <button id="calendar-link" class="custom-btn fw-light">Calendar</button>
    </div>
    <div id="gallery" class="d-flex flex-wrap justify-content-evenly py-3 marble-bg">
        <img class="gallery-img" src="~/assets/gallery1.jpg" alt="yoga-gallery1">
        <img class="gallery-img" src="~/assets/gallery3.jpg" alt="yoga-gallery3">
        <img class="gallery-img focal-up" src="~/assets/gallery5.jpg" alt="yoga-gallery5">
        <img class="gallery-img focal-up" src="~/assets/gallery7.jpg" alt="yoga-gallery7">
        <img class="gallery-img" src="~/assets/gallery8.jpg" alt="yoga-gallery8">
        <img class="gallery-img focal-down" src="~/assets/gallery9.jpg" alt="yoga-gallery9">
        <img class="gallery-img focal-up" src="~/assets/gallery10.jpg" alt="yoga-gallery10">
        <img class="gallery-img" src="~/assets/gallery13.jpg" alt="yoga-gallery13">
        <img id="last-img" class="gallery-img focal-up" src="~/assets/gallery14.jpg" alt="yoga-gallery14">
    </div>
</div>

@section Scripts {
    <script type="module" src="~/js/client/index.js"></script>
}
