@page
@{
    ViewData["Title"] = "Solid Ground";
}

@section Styles {
    <link rel="stylesheet" href="~/css/client/index.css" asp-append-version="true" />
}

<div class="fade-in overflow-x-hidden marble-bg d-flex flex-wrap justify-content-center align-items-center">
    <img id="main-page-nicole" src="~/assets/main-page-nicole.jpg" alt="group yoga">
    <img id="transition-img" class="col-12" src="~/assets/transition.png" alt="transition">
    <div id="welcome" class="bg-lav col-12 d-flex flex-column align-items-center pt-3">
        <div class="d-flex flex-column align-items-center col-xl-8 col-lg-9 col-10">
            <h1 class="libre">Welcome</h1>
            <p class="fs-4 league text-center">I'm so glad you're here. This is where I share what I do and where I do
                it—from mats unrolled in community spaces to quiet one-on-one sessions in the comfort of my home.
                My focus is on body awareness and connection. I’d be honored to be part of your journey. I hope to pass
                on what a few special practitioners have given me: a sense of safety, encouragement, and empowerment.
            </p>
        </div>
    </div>

    <div id='overlay'></div>
    <div id="meet-container" class="bg-white z-3 d-flex justify-content-evenly align-items-center pt-5 px-3 col-12">
        <div id="meet-nicole"
            class="py-3 d-flex flex-column align-items-center justify-content-center col-xl-5 col-md-9 col-11">
            <h2 class="text-center libre">Hi I’m Nicole</h2>
            <h3 class="text-center libre">Now for the "what I do" bit...</h3>
            <p class="rounded fs-4 text-center league">
                I guide classes with intention. I understand the relationship and balance between rebuilding and
                resting. I design yoga practices with certain key elements: body education to deepen connection to your
                lived-in body, novelty to keep your brain curious and playful, and grounding to stay true to self.

                I work in private settings to curate experiences for individuals or groups.

                I have specially trained in prenatal/postpartum movement (pelvic floor emphasis), myofascial release
                through ball rolling, assisted stretching, touch therapy, and corrective exercise.
            </p>
        </div>
        <img id="home-portrait" src="~/assets/portrait.jpg" alt="nicole-portrait">
    </div>
    <div class="bg-white py-3 fs-4 league col-12 d-flex flex-column align-items-center">
        <p class="col-10 py-0 my-0 text-center">
            Thanks for taking a look!
        </p>
        <p class="col-10 py-0 my-0 text-center">
            Let’s connect further & get you booked with your own <a href="https://nicoleolsen.glossgenius.com/"
                id="calendar-link">session</a>
        </p>
    </div>
    <div id="gallery" class="d-flex flex-wrap justify-content-evenly py-3">
        <img class="gallery-img" src="~/assets/gallery20.jpg" alt="yoga-gallery20">
        <img class="gallery-img focal-up" src="~/assets/gallery16.jpg" alt="yoga-gallery16">
        <img class="gallery-img focal-up" src="~/assets/gallery17.jpg" alt="yoga-gallery17">
        <img class="gallery-img focal-up" src="~/assets/gallery18.jpg" alt="yoga-gallery18">
        <img class="gallery-img" src="~/assets/gallery19.jpg" alt="yoga-gallery19">
        <img class="gallery-img" src="~/assets/gallery21.jpg" alt="yoga-gallery21">
    </div>
    <div id="move-mods" class="py-3 col-12 bg-white d-flex flex-wrap align-items-center justify-content-evenly">
        <img src="~/assets/LYTLogo.png" class="py-4" alt="LYT Yoga logo">
        <img src="./assets/RYTLogo.png" alt="RYT Logo">
        <img src="~/assets/CESLogo.png" class="py-4" alt="Core exercise solutions logo">
        <img src="~/assets/FTPLogo.png" class="py-3" alt="FTP logo">
        <img src="~/assets/RollModelLogo.png" class="py-4" alt="Roll Model Logo">
    </div>
</div>

@section Scripts {
    <script type="module" src="~/js/client/index.js"></script>
}
