@page
@{
    ViewData["Title"] = "Nicole Olsen - Home";
}

<div class="d-flex flex-wrap justify-content-center align-items-center">
    <img id="group-yoga-img" src="~/assets/groupyoga.jpg" alt="group yoga">
    <img id="transition-img" class="col-12" src="~/assets/transition.png" alt="transition">
    <h1 id="welcome" class="col-12">Welcome!</h1>
    <h2 class="fw-light">PRIVATE SESSIONS AVAILABLE TO BOOK</h2>
    <div id="services" class="my-2 d-flex flex-wrap justify-content-evenly"></div>
</div>

@section Scripts {
    <script type="module" src="~/js/services.js"></script>
}
