.admin-bg {
    background-color: var(--lav);
    background-image: url('../../assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 60%;
    overflow: auto;
}


#admin-nav label {
    font-size: 28px;
    font-weight: 300;
    padding: 0 10px;
    color: var(--purple);
    background-color: var(--lav);
    border: 1px solid var(--lav);
    border-radius: 5px;
    cursor: pointer;
}

#admin-nav label:hover {
    border: 1px solid var(--purple);
    background-color: var(--purple);
    color: var(--white);
    transition: all 0.3s ease;
}

#logout-btn {
    font-size: 28px;
    font-weight: 300;
    padding: 0 10px;
    color: var(--purple);
    background-color: var(--lav);
    border: 1px solid var(--purple);
    border-radius: 5px;
    cursor: pointer;
}

#logout-btn:hover {
    border: 1px solid var(--pink);
    background-color: var(--pink);
    color: var(--white);
    transition: all 0.3s ease;
}

input[type="radio"]:checked+label {
    text-decoration: underline;
    border: 1px solid var(--purple) !important;
    background-color: var(--purple) !important;
    color: var(--white) !important;
}

select::-webkit-scrollbar {
    width: 0;
    height: 0;
}

option {
    color: var(--purple);
    background-color: var(--white);
}

@media screen and (max-width: 768px) {
    header {
        margin-bottom: 75px;
    }

    nav {
        position: absolute !important;
        top: 20px !important;
        right: 20px !important;
        font-size: 28px;
    }
}