@page "/calendar"
@{
    ViewData["Title"] = "Calendar";
}

<div id="book" class="py-3 col-12 d-flex justify-content-center fade-in">
    <div id="calendar" class="whiteBG rounded p-5 col-11 col-md-10 col-xl-9 d-flex flex-column align-items-center">
        <div id="calendar-header" class="col-12 bg-white d-flex align-items-center">
            <button id="prev" class="monthNavBtn ">&#8592;</button>
            <button id="next" class="monthNavBtn">&#8594;</button>
            <h1 id="month-year" class="fw-light"></h1>
        </div>
        <div id="calendar-body" class="col-12 bg-white">
            <div id="calendar-weekdays" class="d-flex justify-content-between col-12">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            <div id="calendar-dates" class="d-flex flex-column col-12 border"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="serviceSelection" tabindex="-1" aria-labelledby="serviceSelectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content overflow-visible">
            <div id="modal-header" class="rounded-top p-1 text-center">
                <h1 class="modal-title fs-3" id="serviceSelectionLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
            </div>
            <div id="modal-body" class="bg-gray d-flex flex-column align-items-center col-12"></div>
            <div id="modal-footer" class="bg-gray rounded-bottom d-flex justify-content-end">
                <button type="button" class="btn btn-secondary m-1" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>

@section Scripts {
    <script src="~/lib/node-calendar/node-calendar.js"></script>
    <script type="module" src="~/js/book.js"></script>
}