<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="~/assets/flower.svg" />
  <link rel="apple-touch-icon" href="~/assets/flower.png">
  <link rel="apple-touch-startup-image" href="~/assets/flower.png">
  <link rel="stylesheet" href="~/css/root.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/admin/root.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />

  @RenderSection("Styles", required: false)

  <meta name="apple-mobile-web-app-title" content="Solid Ground Admin">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"]</title>
</head>

<body class="admin-bg col-12 min-vh-100">
  <header class='col-12 d-flex justify-content-end'>
    <nav id='admin-nav' class=' text-light col-md-6 col-xl-4 d-flex justify-content-evenly align-items-center'></nav>
  </header>

  <main role="main" class="col-12" id='content'>
    @RenderBody()
  </main>

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/lib/node-calendar/node-calendar.js"></script>
  <script src="~/lib/jwt-decode/index.js"></script>
  <script type="module" src="~/js/admin/root.js"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>