<div class="modal fade" id="newApptsModal" tabIndex="-1" aria-labelledby="newApptsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content d-flex justify-content-between text-darkgray">
            <div id="modal-header" class="rounded-top p-1 text-center">
                <h1 class="modal-title fs-3" id="newApptsModalLabel">Add Appointments</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modal-body" class="col-12 fs-3 d-flex flex-column align-items-center flex-grow-1">
                <select id="newApptStatus" class="custom-btn mt-2">
                    <option value='0' selected>Private</option>
                    <option value='4'>Public</option>
                </select>
                <h2 class="my-2">Every</h2>
                <div id="day-checks" class="d-flex justify-content-evenly col-12"></div>
                <h2 class="my-2">At</h2>
                <div class="d-flex col-12 justify-content-center align-items-center">
                    <select id="newHourDisplay" class='custom-btn mx-1'></select>
                    <p class="d-flex align-items-center my-0">:</p>
                    <select id="newMinute" class="custom-btn mx-1"></select>
                    <select id="newMeridiem" class="custom-btn">
                        <option value="AM" selected>AM</option>
                        <option value="PM">PM</option>
                    </select>
                </div>
                <h2 class="my-2">From</h2>
                <div class="d-flex col-12 justify-content-center align-items-center">
                    <select id="startMonth" class="month-select custom-btn mx-1"></select>
                    <select id="startDate" class="custom-btn mx-1"></select>
                    <p>,</p>
                    <select id="startYear" class="custom-btn mx-1"></select>
                </div>
                <h2 class="my-2">To</h2>
                <div class="d-flex col-12 justify-content-center align-items-center">
                    <select id="endMonth" class="month-select custom-btn mx-1"></select>
                    <select id="endDate" class="custom-btn mx-1"></select>
                    <p>,</p>
                    <select id="endYear" class="custom-btn mx-1"></select>
                </div>
            </div>
            <div id="modal-footer" class="d-flex align-self-end justify-content-end mt-2">
                <button id="create-appts-btn" type="button" class="custom-btn success-btn fs-5 m-1"
                    data-bs-dismiss="modal">Create Appointments</button>
                <button type="button" class="custom-btn fs-5 m-1" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="module" src="~/js/admin/newApptsModal.js"></script>
}