<div class="modal fade" id="servicesModal" tabIndex="-1" aria-labelledby="servicesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content d-flex justify-content-between">
            <div id="modal-header" class="rounded-top p-1 text-center">
                <h1 class="modal-title fs-3" id="servicesModalLabel">Services</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modal-body" class="mt-2 col-12 flex-grow-1 text-darkgray">
                <div id="services-container" class="col-12 d-flex flex-column align-items-center"></div>
            </div>
            <div id="modal-footer" class="d-flex align-self-end justify-content-end mt-2">
                <button id='toggle-add-service' type="button" class="custom-btn fs-5 m-1">Add Service</button>
                <button type="button" class="custom-btn fs-5 m-1" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>