#about-me {
    min-height: 90vh;
}

#portrait {
    width: 550px;
    height: 550px;
    object-fit: cover;
    object-position: center 100%;
}

@media screen and (max-width: 768px) {
    #about-me {
        display: flex;
        flex-direction: column;
    }

    #portrait {
        width: 300px;
        height: 300px;
    }
}