:root {
    --white: #f3eeee;
    --green: #a8d5ba;
    --beige: #f0ebe4;
    --gray: #e6e6e6;
    --darkgray: #838383;
    --lav: #ede9f3;
    --purple: #5c4888;
    --purple2: #a194eb;
}

body {
    overflow-x: hidden;
}

.bg-white {
    background-color: var(--white);
}

.bg-darkgray {
    background-color: var(--darkgray);
}

.bg-lav {
    background-color: var(--lav);
}

.bg-purple {
    background-color: var(--purple);
}

.bg-purple2 {
    background-color: var(--purple2);
}

.bg-beige {
    background-color: var(--beige);
}

.bg-gray {
    background-color: var(--gray);
}

.body-bg {
    background-image: url('../assets/whiteBG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 90vh;
}

.body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    color: black;
}

.libre {
    font-family: 'Libre Baskerville', serif;
}

.league {
    font-family: "League Spartan", sans-serif;
}

.marble-bg {
    background-image: url('../assets/whiteBG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text-darkgray {
    color: var(--darkgray);
}

.text-purple {
    color: var(--purple);
}

.line {
    height: 1px;
    width: 25px;
    background-color: var(--purple);
}

nav label {
    font-size: 24px;
    cursor: pointer;
    border-bottom: 7px solid transparent;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {
    border-bottom: 5px solid;
    border-image: linear-gradient(to left, var(--lav), var(--purple));
    border-image-slice: 1;
    border-image-repeat: stretch;
}

.custom-btn {
    background-color: var(--purple);
    border: 1px solid var(--purple);
    border-radius: 7px;
    color: var(--lav);
}

.custom-btn:hover {
    background-color: var(--lav);
    color: var(--purple);
    transition: all 0.3s ease;
}

.purple-border {
    border: 1px solid var(--purple);
    border-image: linear-gradient(to left, var(--white), var(--lav));
    border-image-slice: 1;
}

#photographer-link {
    text-decoration: none;
    color: var(--purple);
}

#photographer-link:hover {
    text-decoration: underline;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 0.75s ease-in-out;
}

@keyframes fade-top {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-top {
    animation: fade-in 0.75s ease-in-out;
}

@media screen and (max-width: 768px) {
    #logo {
        display: flex;
        flex-direction: column;
    }
}