@page "/services"
@{
    ViewData["Title"] = "Services";
}

<div id="services" class="mt-5 d-flex flex-wrap justify-content-evenly"></div>
 
@section Scripts {
    <script src="~/js/services.js"></script>
}
